*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media only screen and (max-width:425px) {
.container-checkbox-nav,
.checkbox  {
 flex-wrap: wrap;}
}


/*!Estilos Generales*/

header{
  min-height: 10vh;
  background-color:#4d4250;
}
main{
    min-height: 80vh;
    background-color:#b66e6f;
}

footer{
    min-height: 10vh;
    background-color:#cf8884;
}

/*! Estilos de Navbar*/
.navbar-toggleable-sm .nav-item {
    display: flex;
    max-width: 170px;
    justify-content: center;
}
.nav-link {
  background-color: #b66e6f;
  padding: 6px 4px;
  margin: 5px 5px;
  cursor: pointer;
  border-color: white;
}

.nav-link:hover{
    background-color: white;
    transform: scale3d(1.2,1.2,1.2);
}

.active{
    background-color: white;
}

.img-logo{
    width:150px;
}

/*! Estilos del Carrusel*/

.carousel-item img {
    height: 300px;  
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

/*!Estilos de Card*/

.card{
    max-width: 18rem;
}

.card img{
    height: 150px;
    object-fit: cover;
}

/*! Estilos de Card de detalle*/

.card-details{
    max-width: 540px;
}



/*! Estilos de Formulario de Contacto*/

form{
    padding: 10px;
}

/*! Estilos de Tabla -Stats*/

.container-table{
    max-width:max-content;
    background-color: #e6a972;
}

td{
    height: 2rem;
    text-align: center;
}

/*! Estilos de Redes Sociales de Footer*/

.img-rs {
    width: 3rem;
    background-color: black;
    padding: 7px;
    border-radius: 50%;
    margin: 10px;
}
